.add-question{
    color:green;
    font-size: 30px;
    text-align: center;
}

.add-question:hover{
    color: darkblue;
    font-size: 35px;
    cursor: pointer;
}

.delete-topic-btn{
    margin-left: 20px;
    font-size: 25px;
    color: red;
}

.delete-topic-btn:hover{
    color: deeppink;
    cursor: pointer;
}

.update-topic-btn{
    color: blue;
    font-size: 20px;
}

.update-topic-btn:hover{
    color: #7439db;
    cursor: pointer;
}


